@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,500,700");



html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

:root {
    font-size: 62.5%
}


body {
    color: #000;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background: #E8E8E8;
    margin: 0;
    padding: 0
}

.global-header {
    padding: 2px 0;
    background: #716E77
}

@media screen and (max-width: 767px) {
    .global-header {
        padding: 0;
        position: relative;
        height: 51px
    }
}

.global-header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (min-width: 768px) {
    .global-header__body {
        max-width: 1320px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto
    }
}

@media screen and (max-width: 767px) {
    .global-header__body {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.global-header--portal .global-header__body {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.global-header__site-name {
    margin: 0;
    font-size: 1rem;
    width: 170px;
    text-align: center;
    margin: 6px 0
}

.global-header__site-name a {
    display: block
}

@media screen and (max-width: 767px) {
    .global-header__site-name img {
        width: 105px
    }
}

.global-header__sp-close button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    display: block;
    width: 100%;
    background: #000;
    color: #FFF;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 15px
}

.global-header__sp-close button span {
    position: relative;
    padding-left: 25px;
    line-height: 1
}

.global-header__sp-close button span::before,
.global-header__sp-close button span::after {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 0
}

.global-header__sp-close button span::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.global-header__sp-close button span::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.global-header__sp-menu {
    position: absolute;
    left: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 100
}

.global-header__sp-menu > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    width: 22px;
    height: 18px;
    display: block
}

.global-header__sp-menu > button > small {
    font-weight: bold;
    font-size: 1rem;
    color: #212121;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center
}

.global-header__sp-menu > button.nav-global__button--active span:nth-of-type(1) {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg)
}

.global-header__sp-menu > button.nav-global__button--active span:nth-of-type(2) {
    left: 60%;
    opacity: 0
}

.global-header__sp-menu > button.nav-global__button--active span:nth-of-type(3) {
    -webkit-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg)
}

.global-header__sp-menu > button span {
    background-color: #4F4F4F;
    box-sizing: border-box;
    display: inline-block;
    height: 3px;
    left: 5px;
    border-radius: 10px;
    position: absolute;
    -webkit-transition: all .4s;
    transition: all .4s;
    width: 22px
}

.global-header__sp-menu > button span:nth-of-type(1) {
    top: 7px
}

.global-header__sp-menu > button span:nth-of-type(2) {
    top: 14px
}

.global-header__sp-menu > button span:nth-of-type(3) {
    top: 0
}

.global-footer {
    background: #FFF
}

.global-footer__upper {
    padding: 20px 0
}

@media screen and (max-width: 767px) {
    .global-footer__upper {
        padding: 20px 15px
    }
}

.global-footer__upper--body {
    background: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media screen and (min-width: 768px) {
    .global-footer__upper--body {
        max-width: 1320px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto
    }
}

@media screen and (max-width: 767px) {
    .global-footer__upper--body {
        display: block
    }
}

.global-footer__lower {
    background: #000;
    padding: 30px 0
}

@media screen and (max-width: 767px) {
    .global-footer__lower {
        padding: 25px 15px 40px
    }
}

.global-footer__lower--body {
    position: relative
}

@media screen and (min-width: 768px) {
    .global-footer__lower--body {
        max-width: 1320px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto
    }
}

.global-footer__official {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 40px
}

@media screen and (max-width: 767px) {
    .global-footer__official {
        margin: 0;
        display: block;
        text-align: center
    }
}

.global-footer__official--title {
    margin-right: 10px;
    color: #505050
}

@media screen and (max-width: 767px) {
    .global-footer__official--title {
        margin: 0 0 6px;
        text-align: center
    }
}

.global-footer__official--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.global-footer__official--list li {
    margin-left: 10px
}

@media screen and (max-width: 767px) {
    .global-footer__official--list li {
        margin-left: 5px
    }

    .global-footer__official--list li:first-child {
        margin-left: 0
    }
}

.global-footer__official--list a {
    -webkit-transition: .2s linear;
    transition: .2s linear
}

.global-footer__official--list a:hover {
    opacity: .5
}

@media screen and (max-width: 767px) {
    .global-footer__official--list a img {
        width: 100%;
        max-width: 50px
    }
}

.global-footer__local,
.global-footer__local-col3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 40px
}

@media screen and (max-width: 767px) {

    .global-footer__local,
    .global-footer__local-col3 {
        max-width: 340px;
        margin: 12px auto 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.global-footer__local--title,
.global-footer__local-col3--title {
    margin-right: 20px;
    color: #505050
}

@media screen and (max-width: 767px) {

    .global-footer__local--title,
    .global-footer__local-col3--title {
        margin: 0 0 6px
    }
}

.global-footer__local--link,
.global-footer__local-col3--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px
}

.global-footer__local--link:first-child,
.global-footer__local-col3--link:first-child {
    margin-left: 0
}

@media screen and (max-width: 767px) {

    .global-footer__local--link,
    .global-footer__local-col3--link {
        width: 50%;
        margin: 0 0 10px;
        padding: 0 5px
    }

    .global-footer__local--link:first-child,
    .global-footer__local-col3--link:first-child {
        margin-left: 0
    }
}

.global-footer__local--link a,
.global-footer__local-col3--link a {
    -webkit-transition: .2s linear;
    transition: .2s linear
}


@media screen and (max-width: 767px) {

    .global-footer__local--link a img,
    .global-footer__local-col3--link a img {
        width: 100%;
        max-width: 160px
    }
}

@media screen and (max-width: 767px) {
    .global-footer__local-col3 {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.global-footer__links {
    margin-bottom: 15px
}

@media screen and (min-width: 768px) {
    .global-footer__links {
        padding-right: 200px
    }
}

.global-footer__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0
}

@media screen and (max-width: 767px) {
    .global-footer__links ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.global-footer__links li {
    border-left: 1px solid #FFF;
    line-height: 1.1;
    padding-left: 10px;
    margin-left: 10px
}

.global-footer__links li:first-child {
    margin-left: 0;
    padding-left: 0;
    border: 0
}

.global-footer__links a {
    text-decoration: none;
    font-weight: normal;
    color: #FFF;
    font-size: 1.4rem
}

.global-footer__links a {
    -webkit-transition: .2s linear;
    transition: .2s linear
}

.global-footer__links a:hover {
    opacity: .5
}

@media screen and (max-width: 767px) {
    .global-footer__links a {
        display: block;
        font-size: 1.3rem
    }
}

.global-footer__country {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 1
}

@media screen and (max-width: 767px) {
    .global-footer__country {
        position: static;
        text-align: center;
        margin-bottom: 10px
    }
}

.global-footer__country a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.4rem;
    background: #363636;
    border-radius: 16px;
    display: block;
    padding: 9px 24px;
    text-align: center;
    display: inline-block;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    border: 1px solid #363636
}


.global-footer__country a img {
    display: inline-block;
    vertical-align: middle
}

.global-footer__country a span {
    display: inline-block;
    vertical-align: middle
}

.global-footer__copyright {
    color: #888888;
    line-height: 1.4
}

.global-footer__copyright small {
    font-size: 1.2rem
}

@media screen and (max-width: 767px) {
    .global-footer__copyright {
        text-align: center;
        padding: 0 5px
    }

    .global-footer__copyright small {
        line-height: 1.6;
        font-size: 1rem;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        display: block
    }
}

.global-footer__license {
    color: #888888;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (max-width: 767px) {
    .global-footer__license {
        text-align: center;
        padding: 0 5px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.global-footer__license p {
    margin: 0 0 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (max-width: 767px) {
    .global-footer__license p {
        margin: 5px 0 0
    }
}

.global-footer__license p:first-child {
    margin: 0
}

.global-footer__license img {
    vertical-align: text-top
}

.global-footer__license a {
    color: #888888;
    text-decoration: none
}

.global-footer__license a:hover {
    text-decoration: underline
}



.nav-global {
    width: calc(100% - 170px)
}

@media screen and (min-width: 768px) {
    .nav-global {
        display: block !important
    }
}

@media screen and (max-width: 767px) {
    .nav-global {
        position: absolute;
        z-index: 10;
        width: 100%;
        display: none;
        left: 0;
        top: 51px;
        border-top: 1px solid #d1d1d1
    }

    .nav-global::after {
        content: "";
        position: fixed;
        top: 52px;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: block
    }
}

@media screen and (max-width: 767px) {
    .nav-global__body {
        position: relative;
        z-index: 10;
        background: #DFDFDF
    }
}

.nav-global__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media screen and (max-width: 767px) {
    .nav-global__list {
        display: block
    }
}

.nav-global__item {
    text-align: center;
    margin: 0 102px;
    width: calc(100% / 8);
    min-height: 56px;
    overflow: hidden
}

@media screen and (max-width: 767px) {
    .nav-global__item {
        width: 100%;
        margin: 0;
        height: auto !important;
        min-height: auto
    }
}

.nav-global__item.nav-global__item--blank a span:after {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "謅�";
    font-size: 1rem;
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s;
    transition: .3s
}

@media screen and (max-width: 767px) {
    .nav-global__item.nav-global__item--blank a span:after {
        font-size: 1rem
    }
}

@media screen and (min-width: 768px) {
    .nav-global__item.nav-global__item--blank a:hover span:after {
        color: #fff !important
    }
}


.nav-global__item > a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 14px 5px;
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s
}

@media screen and (max-width: 767px) {
    .nav-global__item > a {
        font-size: 1.6rem
    }
}

@media screen and (max-width: 767px) {
    .nav-global__item > a {
        text-align: left;
        display: block;
        padding: 15px;
        border-bottom: 1px solid #CCC;
        font-size: 1.3rem;
        background: #FFF
    }

    .nav-global__item > a::before {
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "謅�";
        position: absolute;
        right: 15px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        font-size: 1rem
    }
}

.nav-global__item > a::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: -92%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    left: 0
}

@media screen and (max-width: 767px) {
    .nav-global__item > a::after {
        height: calc(100% - 6px);
        bottom: auto;
        top: 3px;
        left: 3px;
        width: 4px
    }
}

@media screen and (min-width: 768px) {

    .nav-global__item > a:hover,
    .nav-global__item > a.nav-global__item--current {
        color: #FFF
    }
}

.nav-global__item > a span {
    position: relative;
    z-index: 2
}

@media screen and (max-width: 767px) {
    .nav-global__item > a span {
        display: inline-block;
        vertical-align: middle
    }

    .nav-global__item > a span::before {
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "��璹";
        vertical-align: middle;
        margin-right: 8px;
        display: inline-block;
        margin-top: -2px
    }
}

.nav-global__item--anime {
    color: #FFC286
}

.nav-global__item--anime::after {
    background: #716E77
}

.nav-global__item--movie {
    color: #FDF077
}

.nav-global__item--movie::after {
    background: #716E77
}

.nav-global__item--game {
    color: #FFA6A6
}

.nav-global__item--game::after {
    background: #716E77
}

.license-link {
    text-align: center;
    margin-bottom: 20px
}

.license-link a {
    color: #555;
    text-decoration: none
}

.license-link a::after {
    content: "";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-size: 1.3rem;
    vertical-align: middle;
    margin-left: 5px
}

.license-link a:hover {
    text-decoration: underline
}

.license-link + .button-block {
    margin-top: 80px
}

@media screen and (max-width: 767px) {
    .license-link + .button-block {
        margin-top: 45px
    }
}

.title-page {
    text-align: center;
    color: #FFF;
    background: #333;
    height: 180px;
    position: relative;
    margin: 0
}

@media screen and (max-width: 767px) {
    .title-page {
        height: 120px
    }
}

.title-page__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0
}

.title-page__heading-main {
    display: block;
    font-size: 3rem
}

.hero {
    background: url(../img/home/bg_hero.png)
}

@media screen and (min-width: 768px) {
    .hero {
        border-bottom-width: 4px;
        border-bottom-style: solid
    }
}

@media screen and (max-width: 767px) {
    .hero:not(.hero--home) {
        padding: 0 0 15px;
        background: #FFF
    }

    .hero.hero--margin {
        padding-bottom: 30px
    }

    .hero:not(.hero--margin) {
        padding: 0;
        margin: 0 0 20px
    }
}

@media screen and (max-width: 767px) {
    .hero .slick-track {
        border-bottom-width: 4px;
        border-bottom-style: solid
    }
}

.hero__slideshow {
    background: #FFF
}

@media screen and (min-width: 768px) {
    .hero__slideshow {
        max-width: 1280px;
        margin: 0 auto
    }
}

.hero__slideshow--element {
    background: #FFF
}

.hero__slideshow--element img {
    width: 100%
}

.hero__slideshow--element a {
    display: block
}

.hero__slideshow--element a {
    -webkit-transition: .2s linear;
    transition: .2s linear
}

.hero__slideshow--element a:hover {
    opacity: .3
}

.hero__slideshow--element a.comingsoon {
    pointer-events: none
}

.hero--home {
    border: 0
}

@media screen and (max-width: 767px) {
    .hero--home .slick-track {
        border-bottom: 0
    }
}

.hero--anime {
    border-bottom-color: #03a9f4
}

@media screen and (max-width: 767px) {
    .hero--anime .slick-track {
        border-bottom-color: #03a9f4
    }
}

.hero--movie {
    border-bottom-color: #ff9600
}

@media screen and (max-width: 767px) {
    .hero--movie .slick-track {
        border-bottom-color: #ff9600
    }
}



.hero--game {
    border-bottom-color: #FFA6A6
}

@media screen and (max-width: 767px) {
    .hero--game .slick-track {
        border-bottom-color: #FFA6A6
    }
}


.content-main {
    padding: 7px 0 0;
    margin-bottom: 60px
}

@media screen and (max-width: 767px) {
    .content-main {
        padding: 25px 0 0px;
        margin-bottom: 30px
    }
}

.content-main--margin {
    margin-bottom: 0
}

.page-detail__main {
    padding-top: 40px;
    margin-bottom: 80px
}

@media screen and (max-width: 767px) {
    .page-detail__main {
        padding-top: 25px;
        margin-bottom: 50px
    }
}

.page-index__main {
    padding-top: 30px
}

@media screen and (max-width: 767px) {
    .page-index__main {
        padding-top: 20px
    }
}

@media screen and (min-width: 768px) {
    .page-index__main .category-list {
        margin-bottom: 30px
    }
}

@media screen and (min-width: 768px) {
    .card-list {
        max-width: 1320px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto
    }
}

@media screen and (max-width: 767px) {
    .card-list {
        padding: 0 15px
    }
}

.card-list__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -5px
}

@media screen and (max-width: 767px) {
    .card-list__body {
        display: block;
        overflow: hidden
    }
}

.card-list--col3 {
    padding-top: 10px
}

@media screen and (min-width: 768px) {
    .card-list--col3 {
        max-width: 1150px
    }
}

@media screen and (max-width: 767px) {
    .card-list--col3 {
        padding-top: 0
    }
}

.card-list--col3 .card-list__subcategory {
    padding-top: 30px;
    margin-bottom: 20px
}

@media screen and (max-width: 767px) {
    .card-list--col3 .card-list__subcategory {
        padding-top: 18px;
        margin-bottom: 12px
    }
}

.card-list--col3 .card-list__subcategory .heading-l {
    color: #3f51b5;
    font-size: 3.7rem;
    line-height: 1;
    margin-bottom: 30px
}

@media screen and (max-width: 767px) {
    .card-list--col3 .card-list__subcategory .heading-l {
        font-size: 2.5rem
    }
}

@media screen and (max-width: 767px) {
    .card-list--col3 .card-list__subcategory .heading-l {
        margin-bottom: 18px
    }
}

@media screen and (min-width: 768px) {
    .card-list--col3 .card__element {
        width: calc(100% / 3 - 10px)
    }
}

.card__container {
    position: relative;
    height: 100%
}

.card__container::after {
    content: "";
    background: red;
    opacity: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: .15s linear;
    transition: .15s linear
}

.card__element {
    width: calc(25% - 10px);
    margin: 0 51px 40px;
    background: #FFF;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15)
}

@media screen and (max-width: 767px) {
    .card__element {
        width: calc(50% - 8px);
        margin: 0 4px 15px;
        float: left
    }
}

.card__element > a {
    display: block;
    text-decoration: none;
    height: 100%
}

.card__element > a:hover .card__container::after {
    opacity: .3
}

.card-list--products .card__element {
    border-radius: 3px 3px 0 0
}

.card-list--modal .card__element {
    border-radius: 0 0 3px 3px
}

.card-list--modal + .heading-l {
    margin-top: 20px
}

.card-list--modal .card__products-title {
    margin-bottom: 5px
}

.card-list--modal .card__content {
    padding-bottom: 15px
}

.card__thumb {
    margin: 0;
    border-bottom: 4px solid
}

.card__thumb-1 {
    margin: 0;
    border-bottom: 4px solid
}

.card__thumb img {
    width: 50%;
    display: block
}

.card__thumb-1 img {
    width: 80%;
    display: block
}

.card__thumb--detail {
    position: relative;
    padding: 60px
}

@media screen and (max-width: 767px) {
    .card__thumb--detail {
        padding: 35px
    }
}

.card__thumb--detail::after {
    content: "";
    display: block;
    background: url(../img/common/icon_detail.png) no-repeat;
    background-size: 31px auto;
    width: 31px;
    height: 23px;
    position: absolute;
    right: 19px;
    bottom: 15px
}

.card__content p {
    
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.375;
    color: #000
}

@media screen and (max-width: 767px) {
    .card__content p {
        font-size: 1.3rem
    }
}

.card__category--movie .card__header {
    background: #FDF077
}

.card__category--movie .card__thumb {
    border-color: #FDF077
}

.card__category--movie .card__footer--date {
    color: #FDF077
}

.card__category--movie .card__products-title {
    color: #FDF077
}

.card__category--movie .card__container::after {
    background: #FDF077
}

.card__category--anime .card__header {
    background: #FFC286
}

.card__category--anime .card__thumb {
    border-color: #FFC286
}

.card__category--anime .card__footer--date {
    color: #FFC286
}

.card__category--movie .card__products-title {
    color: #FDF077
}

.card__category--anime .card__container::after {
    background: #FFC286
}


.card__category--movie .card__products-title {
    color: #FDF077
}

.card__category--game .card__header {
    background: #FFA6A6
}

.card__category--game .card__thumb {
    border-color: #FFA6A6
}

.card__category--game .card__thumb-1 {
    border-color: #FFA6A6
}

.card__category--game .card__footer--date {
    color: #FFA6A6
}

.card__category--game .card__products-title {
    color: #FFA6A6
}

.card__category--game .card__container::after {
    background: #FFA6A6
}


.card__category--movie .card__products-title {
    color: #FDF077
}




.card__special-banner {
    max-width: 1320px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto
}

.card__special-banner--col2:before,
.card__special-banner--col2:after {
    display: table;
    content: " "
}

.card__special-banner--col2:after {
    clear: both
}

.card__special-banner--left {
    float: left;
    width: 80.1%
}

.card__special-banner img {
    width: 100% !important
}

.card__special-banner img.visible-xs {
    margin-bottom: 25px !important
}

.card__special-banner img.hidden-xs {
    margin-bottom: 40px !important
}

.card-list--modal a {
    height: auto !important;
    display: block;
    position: relative;
    outline: 0;
    z-index: 1
}

.card-list--modal a:hover .card__thumb::before {
    opacity: .3
}
